* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 64, 64);
}

.fa {
  color: white;
}

.fa-heart {
  color: red;
}

body {
  background-color: rgb(248, 248, 248);
}

/* navbar */
nav {
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 3px 3px rgb(235, 235, 235);
  position: fixed;
  width: 100%;
}

nav .container {
  padding: 10px 0;
}

nav .container .home {
  display: inline-block;
}

nav .container .home a {
  text-decoration: none;
}

nav .container .home a:hover {
  color: #0099ff;
}

nav .container .login {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: #0099ff;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 50px;
  top: 6px;
  transition: 0.3s;
}

nav .container .login:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #0099ff;
  color: #0099ff;
}

nav .container .login:hover .fa-sign-in {
  color: #0099ff;
}

.indentasi {
  padding-top: 50px;
}

/* konten tabel */
.wrapper {
  padding: 0 20px;
  background-color: white;
  box-shadow: 0 3px 3px rgb(235, 235, 235);
}

.wrapper .title {
  padding: 10px 0;
}

.wrapper table {
  width: 700px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.wrapper table tr:nth-child(odd) {
  background-color: rgb(240, 239, 239);
}

.wrapper table tr td {
  padding: 10px 5px;
  text-align: center;
}
.wrapper table tr td form {
  display: inline-block;
}

.wrapper table tr td a {
  text-decoration: none;
  background-color: #0099ff;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 15px;
}

.wrapper table tr td form button {
  border: none;
  outline: none;
  font-size: 15px;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.wrapper table tr td a:hover {
  opacity: 0.7;
}

.wrapper table tr td form button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.wrapper .tambah {
  padding: 30px 10px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgb(224, 224, 224);
  display: inline-block;
}

.wrapper .tambah input {
  outline: none;
  border: none;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px 5px;
}

.wrapper .tambah input:focus {
  box-shadow: 0 0 5px rgb(66, 132, 231);
}

.wrapper .tambah .tombolTambah {
  outline: none;
  border: none;
  background-color: yellow;
  color: rgb(119, 119, 119);
  padding: 5px 15px;
  border-radius: 3px;
}

.wrapper .tambah .tombolTambah:hover {
  cursor: pointer;
  opacity: 0.7;
}

.wave {
  margin-top: 50px;
  height: 250px;
  background: url("../wave.svg");
  background-size: cover;
}

footer {
  background-color: #0099ff;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
