<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../style/landing.css" />
    <title>landing page</title>
  </head>
  <body>
    <div class="hero-image">
      <img src="../mobile.jpg" alt="" />
      <h2 class="title">Mobile Legend Pedia</h2>
    </div>
    <nav>
      <a href="">Home</a>
      <a href="/hero">Data Hero</a>
      <a href="/user/login">Login</a>
    </nav>
    <div class="about">
      <h3>About Of Mobile Legend</h3>
      <p>
        Mobile Legends: Bang Bang atau ML merupakan game MOBA yang dirilis oleh Moontoon. Game ini bisa dimainkan di ponsel Android maupun IOS. Dalam game MOBA ini akan ada 10 pemain yang akan dibagi menjadi 2 tim. Aturan mainnya yakni 5 vs
        5. Rata-rata permainan dalam 1 game yakni sekitar 15-20 menit. Setiap pemain bisa memilih 1 hero dari puluhan daftar hero yang tersedia.
        <br />
        <strong>Hero Dalam Mobile Legends</strong> <br />
        Salah satu kelebihan yang bisa didapatkan dari permainan ini adalah kehadiran hero yang disiapkan oleh pengembang game. Untuk bisa menggunakan hero, kamu bisa mendapatkannya secara gratis maupun bisa membelinya menggunakan diamond.
        Setiap hero akan memiliki 4 skill yang terdiri dari 1 passive skill dan 3 active skill. <br />
        Dalam game Mobile Legends, hero dibagi menjadi beberapa tipe yakni Fighter, Tank, Marksman, Mage, Support dan Assasin. Berikut ini penjelasannya: <br />
        <strong>1. Assassin</strong> Bisa dibilang hero ini banyak diminati. Pasalnya, hero ini memiliki damage yang cukup tinggi dan sangat lincah dalam permainan. Belum lagi, hero ini memiliki skill yang mampu membuat karakternya kebal
        terhadap serangan lawan. <br />
        <strong>2. Tank</strong> Hero ini menjadi tameng bagi hero lain saat menyerang lawan. Hero ini sangat cocok berada di garis depan untuk membuka jalan bagi rekan setimnya. Walaupun memiliki pertahanan yang kuat, hero tank tak
        memiliki damage yang mumpuni. Walaupun begitu, hero ini mampu memecah belah formasi lawan. <br />
        <strong>3. Marksman</strong> Hero tipe ini memiliki skill dan basic attack yang tinggi. Selain itu, Marksman memiliki jangkauan skill area yang besar. Hero satu ini memiliki peran besar saat membunuh lawan. ADVERTISEMENT Namun,
        untuk urusan defense hero ini kurang. Jadi, kamu perlu punya siasat agar tidak mudah dibunuh saat menggunakan hero tipe ini. <br />
        <strong>4. Fighter</strong> Hero ini memiliki skill yang tidak mengandalkan "mana energi" yang dimiliki tiap hero. Selain itu, hero tipe <br />
        fighter memiliki damage dan basic attack yang mumpuni yang bernama “Warmonger”. <br />
        <strong>5. Support</strong> Dalam permainan hero tipe ini kerap dijadikan kambing hitam saat kalah. Namun, peran hero ini penting juga dalam permainan, bisa mendukung serangan tim saat menghadapi lawan. <br />
        <strong>6. Mage</strong> Hero dengan tipe Mage sering membuat lawan takut. Hal itu dikarenakan hero ini memiliki damage yang besar. Dengan dibekali efek ability yang tinggi, hero satu ini kerap dijadikan petarung untuk mendukung
        hero lainnya saat menyerang.
      </p>
    </div>
    <div class="wave"></div>
    <footer>created with <i class="fa fa-heart"></i> by andri firmansyah</footer>
  </body>
</html>
