<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style/login.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <title>login</title>
  </head>
  <body>
    <form action="/" method="post">
      <h4>Login</h4>
      <div class="masukan">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="masukan">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit"><i class="fa fa-sign-in"></i> Login</button>
      <button class="kembali">
        <a href="/hero"> <i class="fa fa-arrow-left"></i> Back</a>
      </button>
    </form>
  </body>
</html>
